.App {
  font-family: 'Avenir', 'Century Gothic', sans-serif;
  font-weight: 100; 
  font-style: normal;
  font-size: calc(10px + 2vmin);
  color: #317fc3;
  justify-content: center;
  background-color: #343a40;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.App:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.header {
  width: 100%;
  color: #f8f9fa;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}